.pmo {
    .modal-content {
    }
    .modal-header {
        background-color: #fff !important;
        color: #000 !important;

        button {
            outline: none;
            border: none;
            background-color: #fff;
            border-radius: 3px;
            font-size: 20px;
        }
    }
    .modal-body {
    }
    .modal-footer {
    }
}
